<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Информация о товаре</title>
</head>
<body>
<h1 th:text="${product.name}"></h1>
<img th:src="${product.imagePath}"
     class="card-img-top"
     alt="Изображение товара"
     style="height: 300px; object-fit: contain;"
     onerror="this.src='/images/no-image.png'">
<p>Цена: <span th:text="${product.price}"></span> руб.</p>
<p>В наличии: <span th:text="${product.stockQuantity}"></span> шт.</p>
<p>Гарантия: <span th:text="${product.warrantyPeriod}"></span> мес.</p>
<p>Описание: <span th:text="${product.description}"></span></p>
<a th:href="@{/products}">Вернуться к списку товаров</a>
</body>
</html>